<div class="container mt-4">
    <div class="row border-bottom">
        <div class="col fs-3">メンテナンス</div>
        <div class="col text-end align-self-end fst-italic fs-6">PC-1434-243</div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 my-4">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col col-lg-5 p-3">
                    <h6>機種:</h6>
                    <h5 class="text-white d-inline-block">{{process.machineInfo.machineType}}</h5>
                </div>
                <div class="col  col-lg-7 p-3">
                    <h6>納入先:</h6>
                    <h5 class="text-white">{{process.machineInfo.customer}}</h5>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col col-lg-5 p-3">
                    <h6>製番WBS:</h6>
                    <h5 class="text-white">{{process.machineInfo.machineID}}</h5>
                </div>
                <div class="col col-lg-7 p-3">
                    <h6>受注WBS:</h6>
                    <h5 class="text-white">{{process.machineInfo.lotID}}</h5>
                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="row row-cols-1 row-cols-md-3 text-center g-3">
                <div class="col">
                    <h6 class="text-secondary">主任</h6>
                    {{#if process.stamp.primaryBoss}}
                        <div
                            class="d-inline-block rounded-circle border border-danger text-center text-danger bg-white px-2 py-1">
                            <div>製造部</div>
                            <div class="border-top border-bottom border-2 border-danger">24/09/17</div>
                            <div>黒羽根</div>
                        </div>
                    {{else}}
                        <div class="border d-inline-block p-5"></div>
                    {{/if}}
                </div>
                <div class="col">
                    <h6 class="text-secondary">組長</h6>
                    {{#if process.stamp.secondaryBoss}}
                        <div
                            class="d-inline-block rounded-circle border border-danger text-center text-danger bg-white px-2 py-1">
                            <div>製造部</div>
                            <div class="border-top border-bottom border-2 border-danger">24/09/17</div>
                            <div>黒羽根</div>
                        </div>
                    {{else}}
                        <div class="border d-inline-block p-5"></div>
                    {{/if}}
                </div>
                <div class="col">
                    <h6 class="text-secondary">検査員</h6>
                    {{#if process.stamp.smallBoss}}
                        <div
                            class="d-inline-block rounded-circle border border-danger text-center text-danger bg-white px-2 py-1">
                            <div>製造部</div>
                            <div class="border-top border-bottom border-2 border-danger">24/09/17</div>
                            <div>黒羽根</div>
                        </div>
                    {{else}}
                        <div class="border d-inline-block p-5"></div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 border-top">
        <div class="col col-lg-2 p-3">
            パワー測定方法:
        </div>
        <div class="col col-lg-10 p-3">
            <p><small>1. P-CHK</small></p>
            <p><small>2. モードはPCフォームに順子準拠。不明時は基準APでの測定とする。</small></p>
            <p><small>3. レーザ発射1分後よりデータ採取を開始し、1分間の平均値をデータとする。（パワー変動は10%以下）</small></p>
            <p class="ps-3">
                <small>
                    <span class="border-bottom">但し、100w以上の測定はウォームアップ無しの1分間とする。</span>（パワーメータ加熱防止、但しLM-1000等水冷式は除く
                </small>
            </p>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center text-nowrap">
                    <th style="width: 50px;">No.</th>
                    <th style="width: 80px;">区分</th>
                    <th style="width: auto;">実施項目</th>
                    <th style="width: 150px;">許容値</th>
                    <th style="width: 100px;">測定値確認</th>
                    <th style="width: 100px;">完了日付</th>
                    <th style="width: 100px;">作業者名</th>
                    <th style="width: 80px;">編集</th>
                    <th style="width: 80px;">コメント</th>
                </tr>
            </thead>
            <tbody>
                {{!-- /* -------------------------------------------------------------------------- */ --}}
                {{!-- Process Number 01 --}}
                <tr class="table-light text-center text-nowrap" style="vertical-align: middle;">
                    <td>1</td>
                    <td>ブレーキ</td>
                    {{!-- <td>加工前調整</td> --}}
                    <td class="text-start p-3">
                        ブレーキ・ペダルの踏みしろが適当で、ブレーキの効きが十分であること。<br>
                        ブレーキ・チャンバのロッドのストロークが適当であること<br>
                        ブレーキ・ドラムとライニングとのすき間が適当であること
                        {{!-- 2次結調整が完了していることを確認し、PRMを保存<br>
                        保存名: C81フォルダー_2次結調フォルダ作成_2JI〜を付けて保存<br>
                        ★未完了時は結調員へ依頼し工程調整する --}}
                    </td>
                    <td>保存</td>
                    <td>{{#if process.process01.[0]}}OK{{/if}}</td>
                    <td>{{#if process.process01.[1]}}{{process.process01.[1]}}{{/if}}</td>
                    <td>{{#if process.process01.[2]}}{{process.process01.[2]}}{{/if}}</td>
                    <td>
                        {{#unless process.process01.[0]}}
                            <form
                                action="/process/singular/regulate03/{{process._id}}/update?_method=put&RePro01=true&MaId={{process.machine_id}}"
                                method="post">
                                <button type="submit" class="btn btn-outline-light btn-sm border-0 fs-2">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                            </form>
                        {{/unless}}
                    </td>
                    <td>
                        <button class="btn btn-outline-light btn-sm border-0 fs-2" data-bs-toggle="collapse"
                            data-bs-target="#processNumber01" aria-controls="processNumber01" aria-expanded="false">
                            <i class="bi bi-clipboard-check"></i>
                        </button>
                    </td>
                </tr>
                <tr class="table-light text-center" style="vertical-align: middle;">
                    <td colspan="1" class="collapse bg-white" id="processNumber01">
                        1
                    </td>
                    <td colspan="9" class="collapse bg-white text-danger p-3" id="processNumber01">
                        日付を間違えました、正しくは6/12です。 オレメシア
                    </td>
                </tr>
                {{!-- /* -------------------------------------------------------------------------- */ --}}
                {{!-- process number 02 --}}
                <tr class="table-light text-center text-nowrap text-info" style="vertical-align: middle;">
                    <td>2</td>
                    <td>タイヤ</td>
                    {{!-- <td>"</td> --}}
                    <td class="text-start p-3">
                        タイヤの空気圧が適当であること。（含むスペア・タイヤ）
                        {{!-- 高さ検出装置のストローク範囲調整<br>
                        N644 S0/S1 --}}
                    </td>
                    <td>1mm幅<br>マージン0.2mm以上</td>
                    <td>{{#if process.process02.[0]}}OK{{/if}}</td>
                    <td>{{#if process.process02.[1]}}{{process.process02.[1]}}{{/if}}</td>
                    <td>{{#if process.process02.[2]}}{{process.process02.[2]}}{{/if}}</td>
                    <td>
                        {{#unless process.process02.[0]}}
                            <form
                                action="/process/singular/regulate03/{{process._id}}/update?_method=put&RePro02=true&MaId={{process.machine_id}}"
                                method="post">
                                <button type="submit" class="btn btn-outline-light btn-sm border-0 fs-2">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                            </form>
                        {{/unless}}
                    </td>
                    <td>
                        <button class="btn btn-outline-light btn-sm border-0 fs-2" data-bs-toggle="collapse"
                            data-bs-target="#processNumber02" aria-controls="processNumber02" aria-expanded="false">
                            <i class="bi bi-clipboard-check"></i>
                        </button>
                    </td>
                </tr>
                <tr class="table-light text-center" style="vertical-align: middle;">
                    <td colspan="1" class="collapse bg-white p-3" id="processNumber02">
                        2
                    </td>
                    <td colspan="8" class="collapse bg-white p-3 text-danger" id="processNumber02">
                        走行前にタイヤの残り溝をチェックしましょう。残り溝が1.6ミリになる目安としてスリップサインを設けています。<br>
                        スリップサインが1箇所でも出ると使用してはいけないことが法律で定められています。

                    </td>
                </tr>
                {{!-- /* -------------------------------------------------------------------------- */ --}}
                {{!-- process number 03 --}}
                <tr class="table-light text-center text-nowrap text-info" style="vertical-align: middle;">
                    <td>3</td>
                    <td>バッテリ</td>
                    <td class="text-start p-3">
                        液量が適当であること
                        {{!-- カメラ位置調整 (N3500 N3501→S0(Z1) 対 S1(Z2)〜) --}}
                    </td>
                    <td>30μm以内</td>
                    <td>{{#if process.process03.[0]}}OK{{/if}}</td>
                    <td>{{#if process.process03.[1]}}{{process.process03.[1]}}{{/if}}</td>
                    <td>{{#if process.process03.[2]}}{{process.process03.[2]}}{{/if}}</td>
                    <td>
                        {{#unless process.process03.[0]}}
                            <form
                                action="/process/singular/regulate03/{{process._id}}/update?_method=put&RePro03=true&MaId={{process.machine_id}}"
                                method="post">
                                <button type="submit" class="btn btn-outline-light btn-sm border-0 fs-2">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                            </form>
                        {{/unless}}
                    </td>
                    <td>
                        {{#if commnet}}
                            <button class="btn btn-outline-light btn-sm border-0 fs-2" data-bs-toggle="collapse"
                                data-bs-target="#processNumber01" aria-controls="processNumber01" aria-expanded="false">
                                <i class="bi bi-clipboard-check"></i>
                            </button>
                        {{/if}}
                    </td>
                </tr>
                {{!-- /* -------------------------------------------------------------------------- */ --}}
                {{!-- process number 04 --}}
                <tr class="table-light text-center text-nowrap text-info" style="vertical-align: middle;">
                    <td>4</td>
                    <td>原動機</td>
                    <td class="text-start p-3">
                        ファン・ベルトの張り具合が適当であること。<br>
                        ファン・ベルトに損傷がないこと。
                        {{!-- ガルバの補正 (CHK1/CHK9) --}}
                    </td>
                    <td>実施確認</td>
                    <td>{{#if process.process04.[0]}}OK{{/if}}</td>
                    <td>{{#if process.process04.[1]}}{{process.process04.[1]}}{{/if}}</td>
                    <td>{{#if process.process04.[2]}}{{process.process04.[2]}}{{/if}}</td>
                    <td>
                        {{#unless process.process04.[0]}}
                            <form
                                action="/process/singular/regulate03/{{process._id}}/update?_method=put&RePro04=true&MaId={{process.machine_id}}"
                                method="post">
                                <button type="submit" class="btn btn-outline-light btn-sm border-0 fs-2">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                            </form>
                        {{/unless}}
                    </td>
                    <td>
                        {{#if commnet}}
                            <button class="btn btn-outline-light btn-sm border-0 fs-2" data-bs-toggle="collapse"
                                data-bs-target="#processNumber01" aria-controls="processNumber01" aria-expanded="false">
                                <i class="bi bi-clipboard-check"></i>
                            </button>
                        {{/if}}
                    </td>
                </tr>
                {{!-- /* -------------------------------------------------------------------------- */ --}}
                {{!-- process number 05 --}}
                <tr class="table-light text-center text-nowrap text-info" style="vertical-align: middle;">
                    <td>5</td>
                    <td>"</td>
                    <td class="text-start p-3">
                        エンジン・オイルの量が適当であること。
                        {{!-- <div class="row">
                            <div class="col">

                                高精度ガルバノ補正
                            </div>
                            <div class="col">
                                <div class="border-bottom d-block">□ Fθ"2.75 □ Fθ"3.0 (Rmax0.010以内を目標)</div>
                                <div class="border-bottom d-block">□ Fθ"3.5</div>
                                <div class="border-bottom d-block">□ Fθ"5.0</div>
                            </div>
                        </div> --}}
                    </td>
                    <td>
                        <div class="border-bottom d-block">RMAX0.015以内</div>
                        <div class="border-bottom d-block">RMAX0.020以内</div>
                        <div class="border-bottom d-block">RMAX0.025以内</div>
                    </td>
                    <td>{{#if process.process05.[0]}}OK{{/if}}</td>
                    <td>{{#if process.process05.[1]}}{{process.process05.[1]}}{{/if}}</td>
                    <td>{{#if process.process05.[2]}}{{process.process05.[2]}}{{/if}}</td>
                    <td>
                        {{#unless process.process05.[0]}}
                            <form
                                action="/process/singular/regulate03/{{process._id}}/update?_method=put&RePro05=true&MaId={{process.machine_id}}"
                                method="post">
                                <button type="submit" class="btn btn-outline-light btn-sm border-0 fs-2">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                            </form>
                        {{/unless}}
                    </td>
                    <td>
                        {{#if commnet}}
                            <button class="btn btn-outline-light btn-sm border-0 fs-2" data-bs-toggle="collapse"
                                data-bs-target="#processNumber01" aria-controls="processNumber01" aria-expanded="false">
                                <i class="bi bi-clipboard-check"></i>
                            </button>
                        {{/if}}
                    </td>
                </tr>
                {{!-- /* -------------------------------------------------------------------------- */ --}}
                {{!-- process number 06 --}}
                <tr class="table-light text-center text-nowrap text-info" style="vertical-align: middle;">
                    <td>6</td>
                    <td>"</td>
                    <td class="text-start p-3">
                        エア・タンクに凝水がないこと。
                        {{!-- <div class="row">
                            <div class="col-4">
                                GCOMP精度確認
                            </div>
                            <div class="col">□ AP<br>□ AP</div>
                            <div class="col">□ AP<br>□ AP</div>
                            <div class="col">□ AP<br>□ AP</div>
                        </div> --}}
                    </td>
                    <td>10μm以内</td>
                    <td>{{#if process.process06.[0]}}OK{{/if}}</td>
                    <td>{{#if process.process06.[1]}}{{process.process06.[1]}}{{/if}}</td>
                    <td>{{#if process.process06.[2]}}{{process.process06.[2]}}{{/if}}</td>
                    <td>
                        {{#unless process.process06.[0]}}
                            <form
                                action="/process/singular/regulate03/{{process._id}}/update?_method=put&RePro06=true&MaId={{process.machine_id}}"
                                method="post">
                                <button type="submit" class="btn btn-outline-light btn-sm border-0 fs-2">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                            </form>
                        {{/unless}}
                    </td>
                    <td>
                        {{#if commnet}}
                            <button class="btn btn-outline-light btn-sm border-0 fs-2" data-bs-toggle="collapse"
                                data-bs-target="#processNumber01" aria-controls="processNumber01" aria-expanded="false">
                                <i class="bi bi-clipboard-check"></i>
                            </button>
                        {{/if}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>