<div class="container text-center text-white py-5">
    <h3 class="text-warning">プロフィール</h3>
    <h6 class="text-secondary mt-4">名前:</h6>
    <h5>{{userFound.firstName}} {{userFound.lastName}}</h5>
    <h6 class="text-secondary mt-4">社員ID:</h6>
    <h5>{{userFound.userCompanyID}}</h5>
    <h6 class="text-secondary mt-4">Eメール:</h6>
    <h5> {{userFound.email}}</h5>
    <h6 class="text-secondary mt-4">LEVEL:</h6>
    <h5> {{userFound.level}}</h5>
</div>